<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="currenciesUrl" value="https://api.nbrb.by/exrates/currencies" />
		<add key="onDayCurrenciesUrl" value="https://api.nbrb.by/exrates/rates"/>
		<add key="intervalCurrenciesUrl" value="https://api.nbrb.by/exrates/rates/dynamics/"/>
	</appSettings>
</configuration>